#universo {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

.estrella {
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
    z-index: 0; /* asegura que las estrellas están detrás de los planetas y del sol */
}

#sol {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, yellow, orange);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px 10px yellow;
    z-index: 2;
}

.planeta {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation-name: orbit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    z-index: 1;
    position: relative;
}

.planeta p {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    margin: 0;
    font-size: 12px;
}

#mercurio {
    width: 25px;
    height: 25px;
    background-color: gray;
    animation-duration: 8s;
    --distance: 135px;
}

#venus {
    width: 40px;
    height: 40px;
    background-color: gold;
    animation-duration: 9s;
    --distance: 220px;
}

#tierra {
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50'%3E%3Crect x='0' y='0' width='50' height='50' fill='%230077be'/%3E%3Cpath d='M10,10 Q15,5 25,10 T35,20 T25,40 T15,30 T5,20 Z' fill='%2333a02c'/%3E%3C/svg%3E");
    animation-duration: 10s;
    --distance: 345px;
}

#luna {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    background-color: white;
    border-radius: 50%; /* hace que la Luna sea redonda */
    animation-name: orbit;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    --distance: 55px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}


#marte {
    width: 30px;
    height: 30px;
    background-color: red;
    animation-duration: 11s;
    --distance: 473px;
}

#jupiter {
    width: 80px;
    height: 80px;
    background-color: orange;
    animation-duration: 12s;
    --distance: 625px;
}

#saturno {
    width: 70px;
    height: 70px;
    background-color: goldenrod;
    animation-duration: 13s;
    --distance: 790px;
}

#urano {
    width: 60px;
    height: 60px;
    background-color: lightblue;
    animation-duration: 14s;
    --distance: 970px;
}

#neptuno {
    width: 55px;
    height: 55px;
    background-color: blue;
    animation-duration: 15s;
    --distance:1110px;
}
@keyframes orbit {
    0% {
        transform: rotate(0) translateX(var(--distance, 300px)) rotate(0);
    }
    100% {
        transform: rotate(360deg) translateX(var(--distance, 300px)) rotate(-360deg);
    }
}

#contador {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
    z-index: 3;
}
